name: integration-tests-on-emulator

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  integration-tests-on-emulator:
    runs-on: ubuntu-latest
    services:
      emulator:
        image: gcr.io/cloud-spanner-emulator/emulator:latest
        ports:
          - 9010:9010
          - 9020:9020

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Integration Tests on Emulator
      working-directory: ./Google.Cloud.EntityFrameworkCore.Spanner.IntegrationTests
      run: dotnet test --verbosity normal
      env:
        JOB_TYPE: test
        SPANNER_EMULATOR_HOST: localhost:9010
        TEST_PROJECT: emulator-test-project
        TEST_SPANNER_INSTANCE: test-instance
