name: samples

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run-samples:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Run samples
      working-directory: ./Google.Cloud.EntityFrameworkCore.Spanner.Samples
      run: dotnet run All
